.chooseContainer{
    color: white;
    background: #1D1D1D;
    
}

.chooseContainer h1{
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 87.22px;
    text-align: center;
    
  
}
.cardSection{
    padding-top: 80px;
    
    justify-content: center;
    
}
.card {
    background: #1D1D1D !important;
    border: 1.4px solid #FFFFFF1A !important;
    border-radius: 14px !important;
    padding-top: 20px;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.card:hover {
    background: #2E2E2E !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }
.title{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom:15px; 
}
.description{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 22.75px;
    opacity: 0.3;
    margin-top: 10px;
     
}
.button{
    width: 121px !important;
	height: 43px !important;
	border-radius: 23.5px !important; 
	background: #E3B748 !important;
	color: #000000 !important;
	cursor: pointer;
    margin-left: 12px !important;
    margin-top: 7px !important;
}