.NewsLetterCont{
    
    background: #1D1D1D;
    padding-bottom:80px ;
}
.heading{
    width: 1245px;
    height: 356px;
    background-color: #47474780;
    margin: auto;
    padding-top: 100px;
}
.heading h1 {
    font-family: Helvetica Now Display;
    font-size: 55px;
    font-weight: 500;
    line-height: 75.35px;
    text-align: center; 
    color:  #FFFFFF;
    
}