.ClientContainer{
        width: 100%;
        color: white;
        background: #1D1D1D;
        padding-top: 180px;
        padding-left: 185px;
}
.leftSection {
   
}
.leftSection h1 {
    font-family: Inter;
    font-size: 54px;
    font-weight: 600;
    line-height: 77.23px;
    

}